body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #7c7a77;
    
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    width: 100%; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0%;

}

.image-container img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    cursor: pointer; /* Cambia el cursor a una mano */
}
.image-container2 img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    cursor: pointer; /* Cambia el cursor a una mano */
}
.image-container3 img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    cursor: pointer; /* Cambia el cursor a una mano */
}


img {
    margin: 10px; /* separacion entre imagenes */
    width: 350px;
    height: 250px;
    border-radius: 10px; /* Añadí bordes redondeados para las imágenes */
}
@media (max-width: 1024px) {
    .image-container img, .image-container2 img, .image-container3 img {
        flex: 1 1 calc(50% - 10px);
    }
}
@media (max-width: 600px) {
    .image-container img, .image-container2 img, .image-container3 img {
        flex: 1 1 100%;
    }
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Asegura que el pie de página ocupe todo el ancho de la pantalla */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
}
